!!!
%html
	%head
	
		%meta{ :charset => 'utf-8' }
		
		%meta{ :content => 'Media Browser', :name => 'description' }
		%meta{ :content => 'Jamie Hodge', :name => 'author' }
		%meta{ :content => 'Nick Barnwell', :name => 'author' }

		%meta{ :content => 'width=device-width, initial-scale=1.0', :name => 'viewport' }
		%link{ :rel => 'stylesheet', :href => url('/css/style.css'), :media => 'screen'}
		%script{ :src => url('/js/modernizr.min.js') }
		%script{ :src => url('/js/contentflow.js') }
		
	%body
		%header
			%h1= settings.site['title']
	
		= yield
		
		%footer
			%p
				Powered by Sinatra
			%p
				Copyright &copy; #{Time.now.year}
				
		%script{ :src => 'http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js' }