!!!
%html
	%head
		%title Wikipedia Names Your Band
		%link{:href => "http://yui.yahooapis.com/3.2.0/build/cssreset/reset-min.css", :rel => "stylesheet"}
		%link{:href => "style.css", :rel => "stylesheet"}
		:plain
	%body
		#container
			#content
				%ul#results
					=yield
			#footer
				%p
					Powered by Sinatra
					%br
					Built by
					%a{:href => 'http://github.com/nickbarnwell'} Nick Barnwell
					
			#fade_left
			#fade_right
	%script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js", :type => "text/javascript"}
	%script{:src => "script.js", :type => "text/javascript"}